.burger-menu {
    position: relative;
   width: 100%;
  }
  
  .burger-menu-btn {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem; 
    width: 100%;
    background: rgb(117, 174, 227);
    border-radius: 30px 30px 0  0;

  }

  .burger-menu-list {
    background: rgb(117, 174, 227);
  
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 0;
    padding: 1rem;
    top: 100%;
    position: absolute; 
        left: 50%;
        transform: translate(-50%);
    width: 200px;
    z-index: 1;
    a{
        text-decoration: none;
  }
}
  .burger-menu-item {
    border-bottom: 1px solid #ddd;
    color: #333;
    padding: 0.5rem;
    text-align: center;
    &:hover{
        background: #05050515;
        border-radius: 15px;
    }
  }
  
  .burger-menu-item:last-child {
    border-bottom: none;
  }
  