.burger-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
  z-index: 1;
  background: rgb(117, 174, 227);
border-radius: 30px 30px 0 0;
  button{
    padding: 1rem;
  }
  }
  .menu-overlay {
    position: absolute;
    top: 3.8rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(117, 174, 227); 
  }
  .burger-menu-btn {
    border: none;
    cursor: pointer;
    font-size: 1.2rem; 
    right: 6%;

    font-weight: bold;
    border-radius: 0;
   &:hover{
  
.menuIcon{
  color: white;
  }
}
}
.nav{
  background: rgba(117, 174, 227, 0.973);
  left: 50%;
        transform: translate(-50%);
        width: 17rem;
        border-radius: 0 0 15px 15px;
}
.hover-text {
  text-align: center;
  margin: 0;
  span{
    font-weight: bold;
  }
  
}a:hover{

    color: whitesmoke;
  }

.hover-text:hover {
  color: whitesmoke;
}
.MuiFormControlLabel-root{
    .MuiSwitch-root{
      margin-left: 20px;
    }
    .MuiTypography-root{
      height: 2.2rem;
    }
    .material-icons{
      width: 40px;
      font-size: 1rem;
      height: 2rem;
    }
    .wire{
      color: grey;
    }
  }
  .MuiButtonBase-root{
    svg{
    font-size: 1.8rem;
  } 
  }