.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1{
        margin: 2rem;
        text-align: center;
    }
}
.mail{
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
        color: whitesmoke;
    }
    Button{
        background: #75AEE3;
        width: 70%;
    }
}
@media (min-width: 768px) {
.mail{
    display: flex;
    justify-content: center;
    Button{
        width: 30%;
    }
        
}
}